.main_light {
  background-color: #FFFFFF;
  color: #297fb8;
}

.button_light {
  background-color: #3498db;
  color: #F5F5F5;
}

.main_dark {
  background-color: #12183b;
  color: #6fa3d3;
}

.card_dark {
  background-color: #1f2a5d;
}

.button_dark {
  background-color: #4b6cb7;
  color: #12183b;
  font-weight: bold;
}

.button_dark:hover {
  background-color: #12183b;
  color: #4b6cb7;
  font-weight: bold;
}
