img:hover{
  cursor: pointer;
}

.goDetail{
  cursor:pointer;
}

.card-img-top {
  @media (max-width: 767px) {
    width: 100% !important;// Puoi personalizzare ulteriormente la larghezza qui se necessario
  }
}

.Festa {
  background-color: #e74c3c;
  color: white;
}

.Sociale{
  background-color: #3498db;
  color: white;
}

.Ambiente{
  background-color: #27ae60 ;
  color: black;
}

.Teatro{
  background-color: #9b59b6;
  color: white;
}

.Politica{
  background-color: #3498db;
  color: white;
}

.Cultura{
  background-color: #1abc9c;
  color: black;
}

.Sport{
  background-color: #e67e22;
  color: white;
}

.Magia{
  background-color: #f39c12;
  color: white;
}

.Cinema{
  background-color: #2ecc71;
  color: black;
}

.Libro{
  background-color: #2980b9;
  color: white;
}

.main_light {
  background-color: #FFFFFF;
  color: #4b6cb7;
}

.button_light {
  background-color: #3498db;
  color: #F5F5F5;
}

.main_dark {
  background-color: #12183b;
  color: #6fa3d3;
}

.card_dark {
  background-color: #1f2a5d;
  color: #6fa3d3;
}

.input_dark {
  background-color: #1f2a5d;
  color: #6fa3d3;
  border: 1px solid #4b6cb7;
}

.button_dark {
  background-color: #4b6cb7;
  color: #12183b;
  font-weight: bold;
}

.button_dark:hover {
  background-color: #12183b;
  color: #4b6cb7;
  font-weight: bold;
}


