<div *ngIf="event" class="card d-flex flex-column flex-md-row rounded-0" [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}">
  <img [src]="event.Cover" class="card-img-top w-25" [alt]="event.Name" />
  <div class="card-body">
    <h5 class="card-title">{{event.Name}}</h5>
    <div *ngFor="let cat of category">
      <p *ngIf="event.IdCategory == cat.IdCategory" class="card-text d-inline-block p-1 rounded-5" [class]="cat.Name">
        {{cat.Name}}</p>
    </div>
    <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{event.Place}}</p>

    <p class="card-text"><i class="far fa-calendar-alt"></i> {{event.StartDate | date: 'dd/MM/yyyy HH:mm'}}</p>
    <p class="card-text">{{event.Description}}</p>
    <p *ngIf="event.Free" class="card-text fw-bold">Gratuito</p>
    <p *ngIf="!event.Free" class="card-text fw-bold">Costo: {{event.TicketPrice | currency:'EUR':'symbol':'1.2-2'}}</p>
    <button *ngIf="user && !attendance" class="btn btn-primary m-2"
      (click)="addAttendance(event.IdEvent)">Partecipa</button>

    <p *ngIf="attendance && attendance.Ticket == true" class="fw-bold"> Hai già acquistato il biglietto</p>
    <!-- Button trigger modal -->
    <button *ngIf="!event.Free && attendance && attendance.Ticket == false" [ngClass]="{'button_light':currentTheme == 'light', 'button_dark':currentTheme == 'dark'}" type="button" class="btn"
      data-mdb-toggle="modal" data-mdb-target="#staticBackdrop">
      Acquista Ticket
    </button>


    <!-- Modal -->
    <div *ngIf="!event.Free && attendance && attendance.Ticket == false" class="modal fade" id="staticBackdrop"
      data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}">
          <div class="modal-header" [ngClass]="{'header_light':currentTheme == 'light', 'header_dark':currentTheme == 'dark'}">
            <h5 class="modal-title" id="staticBackdropLabel">Dati Biglietto</h5>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <span [ngClass]="{'label_light':currentTheme == 'light', 'label_dark':currentTheme == 'dark'}" class="input-group-text" id="basic-addon1">Username</span>
              <input [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}" type="text" class="form-control" aria-label="Username" [value]="user.Username" disabled
                aria-describedby="basic-addon1" />
            </div>
            <label for="basic-url" class="form-label" [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}">Evento</label>
            <div class="input-group mb-3">
              <span [ngClass]="{'label_light':currentTheme == 'light', 'label_dark':currentTheme == 'dark'}" class="input-group-text" id="basic-addon1">Nome</span>
              <input [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}" type="text" class="form-control" aria-label="EventName" [value]="event.Name" disabled
                aria-describedby="basic-addon1" />
            </div>
            <div class="input-group mb-3">
              <span [ngClass]="{'label_light':currentTheme == 'light', 'label_dark':currentTheme == 'dark'}" class="input-group-text" id="basic-addon1">Luogo e Data</span>
              <input [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}" type="text" class="form-control" aria-label="EventPlaceAndDate"
                [value]="event.StartDate | date: 'dd/MM/yyyy HH:mm'" disabled aria-describedby="basic-addon1" />
            </div>
            <div class="input-group mb-3">
              <span [ngClass]="{'label_light':currentTheme == 'light', 'label_dark':currentTheme == 'dark'}" class="input-group-text">Prezzo</span>
              <input [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}" type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                [value]="event.TicketPrice | currency:'EUR':'symbol':'1.2-2'" disabled />
            </div>
          </div>
          <div class="modal-footer" [ngClass]="{'footer_light':currentTheme == 'light', 'footer_dark':currentTheme == 'dark'}">
            <button type="button" class="btn btn-secondary"[ngClass]="{'button_close_light':currentTheme == 'light', 'button_close_dark':currentTheme == 'dark'}" data-mdb-dismiss="modal">Chiudi</button>
            <button type="button" class="btn btn-primary"[ngClass]="{'button_buy_light':currentTheme == 'light', 'button_buy_dark':currentTheme == 'dark'}" data-mdb-dismiss="modal"
              (click)="buyTicket()">Acquista</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed rounded-0" [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}"
        type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseOne"
        aria-expanded="false" aria-controls="collapseOne" (click)="getReviews()">
        Visualizza Recensioni
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
      data-mdb-parent="#accordionExample">
      <div class="accordion-body" [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}">
        <p class="fw-bold" *ngIf="reviews && reviews.length == 0">{{reviewMessage}}</p>
        <div *ngIf="reviews && reviews.length > 0">
          <div *ngFor="let item of reviews" class="card p-2 my-2" [ngClass]="{'card_light':currentTheme == 'light', 'card_dark':currentTheme == 'dark'}">
            <div class="row">
              <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                <h5>{{getUserName(item.IdUser)}}</h5>
                <img src="../../../../assets/user.png" class="rounded-circle w-25" alt="user" loading="lazy" />
              </div>
              <div class="col d-flex flex-row justify-content-between align-items-center rounded-5 p-2 m-2"
                [ngClass]="{'comment_light':currentTheme == 'light', 'comment_dark':currentTheme == 'dark'}">
                <p>{{item.Comment}}</p>
                <div>
                  <!-- Button trigger edit modal -->
                  <button *ngIf="user && getUserName(item.IdUser) == user.Username" class="btn btn-outline-dark mx-1"
                    data-mdb-toggle="modal" data-mdb-target="#EditBackdrop" (click)="takeReview(item)">
                    <i class="fas fa-pen"></i>
                  </button>

    <!-- Edit Modal -->
    <div class="modal fade" id="EditBackdrop"
      data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1" aria-labelledby="editLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}">
          <div class="modal-header" [ngClass]="{'header_light':currentTheme == 'light', 'header_dark':currentTheme == 'dark'}">
            <h5 class="modal-title" id="editLabel">Modifica Recensione</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="editForm">
              <div class="input-group mb-3">
                <span class="input-group-text" [ngClass]="{'label_light':currentTheme == 'light', 'label_dark':currentTheme == 'dark'}" id="editAddon">Recensione</span>
                <input *ngIf="editReview" [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}" type="textarea" class="form-control" aria-label="Review" [value]="editReview.Comment"
                  aria-describedby="editAddon" formControlName="Comment" />
              </div>
            </form>
          </div>
          <div class="modal-footer" [ngClass]="{'footer_light':currentTheme == 'light', 'footer_dark':currentTheme == 'dark'}">
            <button type="button" class="btn btn-secondary" [ngClass]="{'button_close_light':currentTheme == 'light', 'button_close_dark':currentTheme == 'dark'}" data-mdb-dismiss="modal">Chiudi</button>
            <button type="button" class="btn btn-primary" [ngClass]="{'button_buy_light':currentTheme == 'light', 'button_buy_dark':currentTheme == 'dark'}" data-mdb-dismiss="modal" (click)="EditReview()">Salva modifica</button>
          </div>
        </div>
      </div>
    </div>
                  <!-- Button trigger delete modal -->
                  <button *ngIf="user && getUserName(item.IdUser) == user.Username" class="btn btn-outline-dark mx-1"
                    data-mdb-toggle="modal" data-mdb-target="#DeleteBackdrop" (click)="deletedRev(item)">
                    <i class="fas fa-times"></i>
                  </button>

                   <!-- Delete Modal -->
    <div class="modal fade" id="DeleteBackdrop"
    data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1" aria-labelledby="deleteLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}">
        <div class="modal-header" [ngClass]="{'header_light':currentTheme == 'light', 'header_dark':currentTheme == 'dark'}">
          <h5 class="modal-title" id="deleteLabel">Elimina Recensione</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" [ngClass]="{'label_light':currentTheme == 'light', 'label_dark':currentTheme == 'dark'}" id="deleteAddon">Recensione</span>
            <input *ngIf="deleted" [ngClass]="{'main_light':currentTheme == 'light', 'main_dark':currentTheme == 'dark'}" type="textarea" class="form-control" aria-label="Review" [value]="deleted.Comment" disabled
              aria-describedby="deleteAddon" />
              <p class="mx-auto my-2 fw-bold">Sei sicuro di voler eliminare questa Recensione?</p>
          </div>
        </div>
        <div class="modal-footer" [ngClass]="{'footer_light':currentTheme == 'light', 'footer_dark':currentTheme == 'dark'}">
          <button type="button" class="btn btn-secondary" [ngClass]="{'button_close_light':currentTheme == 'light', 'button_close_dark':currentTheme == 'dark'}" data-mdb-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-primary" [ngClass]="{'button_buy_light':currentTheme == 'light', 'button_buy_dark':currentTheme == 'dark'}" data-mdb-dismiss="modal" (click)="DeleteReview(deleted.IdReview)">Elimina</button>
        </div>
      </div>
    </div>
  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <p *ngIf="!attendance || !user">Partecipa per lasciare una recensione</p>
        <form *ngIf="attendance">
          <mdb-form-control>
            <input mdbInput type="text" id="review" class="form-control" [(ngModel)]="reviewInput" name="review" />
            <label [ngClass]="{'label_light':currentTheme == 'light', 'label_dark':currentTheme == 'dark'}" mdbLabel class="form-label" for="review">Scrivi una Recensione</label>
          </mdb-form-control>

          <button [ngClass]="{'button_light':currentTheme == 'light', 'button_dark':currentTheme == 'dark'}" type="submit" class="btn btn-primary mt-2" (click)="addReview()">Aggiungi Recensione</button>
        </form>
      </div>
    </div>
  </div>
</div>
