<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="../../../assets/about1.avif" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h4><strong>Chi sono?</strong></h4>
          <p class="text-muted" [innerHTML]="'aboutWho'|translate">
          </p>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section>
      <div class="row d-flex flex-row-reverse">
        <div class="col-md-6 gx-5 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="../../../assets/about2.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h4><strong>Com'è nato questo Progetto?</strong></h4>
          <p class="text-muted">
            <span class="fw-bold">EvenMT</span> è nato dalla necessità di avere una raccolta di eventi su Matera
            facilmente accessibile da tutti grazie ad una interfaccia intuitiva. Questo progetto ha come obiettivo
            l'incremento della partecipazione da parte dei cittadini alla vita sociale e culturale della città,
            senza tralasciare lo svago e l'intrattenimento per i più giovani.
          </p>
        </div>
      </div>
    </section>
  </div>
  </main>
