<!-- Footer -->
<footer class="text-center text-lg-start" [ngClass]="{'footer_light':currentTheme == 'light', 'footer_dark':currentTheme == 'dark'}">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/profile.php?id=100004815240305&locale=it_IT" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.google.it/?hl=it" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/giuseppe-cifarelli-fullstack-developer/" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/GiuseppeCifarelliCode" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section [ngClass]="{'footer_border_light':currentTheme == 'light', 'footer_border_dark':currentTheme == 'dark'}">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            <strong>Author:</strong> Giuseppe Cifarelli
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="d-none d-md-block col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="https://angular.io/" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="https://mdbootstrap.com/docs/angular/getting-started/installation/" class="text-reset">MDB Angular</a>
          </p>
          <p>
            <a href="https://learn.microsoft.com/it-it/dotnet/framework/" class="text-reset">.NET Framework</a>
          </p>
          <p>
            <a href="https://learn.microsoft.com/it-it/sql/sql-server/?view=sql-server-ver16" class="text-reset">SQL Server</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="d-none d-md-block col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Matera, MT</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            cifarelli1995&#64;gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" [ngClass]="{'footer_bottom_light':currentTheme == 'light', 'footer_bottom_dark':currentTheme == 'dark'}">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
