.footer_light {
  background-color: #FFFFFF;
  color: #297fb8;
}

.footer_bottom_light {
  background-color: #F5F5F5;
}

.footer_dark {
  background-color: #12183b;
  color: #4b6cb7;
}

.footer_bottom_dark {
  background-color: #1f2a5d;
}

.footer_border_dark {
  border-top: 2px solid #1f2a5d;
}
